.done-tasks-enter {
    opacity: 0;
    transform: translateY(-20%);
}

.done-tasks-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms, transform 500ms;
}

.done-tasks-exit {
    opacity: 1;
}

.done-tasks-exit-active {
    opacity: 0;
    transform: translateY(-20%);
    transition: opacity 500ms, transform 500ms;
}