.menu {
    height: 100vh;
    /* background: var(--Branco, #FFF); */
    box-shadow: 4px 0px 20px -10px rgba(0, 0, 0, 0.25);
}

.menu__header {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 11%;
    padding-right: 10%;
}

.icon {
    cursor: pointer;
}

.menu_list {
    padding: 0;
}