.listItem {
    display: block;
    padding-left: 11%;
    list-style: none;
    cursor: pointer;
}

.listItem-active {
    display: block;
    padding-left: 11%;
    background: rgba(37, 100, 207, 0.16);
    list-style: none;
    cursor: pointer;
}